<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <title>Xcaptcha</title>
  </head>
  <body>
    <div class="container px-3 py-3">
      <h1>AGI 核心机房 准入验证</h1>
      <p>警告：自动检查发现操作者可能不是机器人，需要进行辅助验证。</p>
      <p>请在 1 秒内完成以下操作：计算下列所有加法表达式，并在计算完成后，点击「提交」按钮。</p>
      <p>如果未在规定时间内完成，填写结果将会自动提交。</p>
      <form method="POST">
        <div class="form-group">
          <label for="captcha1">{{expr1}} 的结果是？</label>
          <input type="text" class="form-control" id="captcha1" name="captcha1" placeholder="请输入结果">
        </div>
        <div class="form-group">
          <label for="captcha2">{{expr2}} 的结果是？</label>
          <input type="text" class="form-control" id="captcha2" name="captcha2" placeholder="请输入结果">
        </div>
        <div class="form-group">
          <label for="captcha3">{{expr3}} 的结果是？</label>
          <input type="text" class="form-control" id="captcha3" name="captcha3" placeholder="请输入结果">
        </div>
        <button type="submit" class="btn btn-primary" id="submit">提交</button>
      </form>
    </div>
    <script>
      setTimeout(function() {
        document.getElementById('submit').click();
      }, 1000);
    </script>
  </body>
</html>